@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Adonys Jose Medina Concepcion<br />
    19 años<br />
    2017-5129<br/>
    849-407-9705<br />
    Ensanche Quisqueya.
</address>