
@{
    ViewBag.Title = "Formulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro de Tareas</h2>

<form>
    <div>
        <label for="name">Nombre de la materia: </label>
        <input type="text"/>
    </div>
    <br />
    <div>
        <label for="tarea">Tarea: </label>
        <input type="text"/>
    </div>
    <br />
    <div>
        <label for="profesor">Profesor: </label>
        <input type="text"/>
    </div>
    <br />
    <div>
        <label for="valor">Valor: </label>
        <input type="number"/>
    </div>
    <br />
    <div>
        <label for="fecha">Fecha de entrega: </label>
        <input type="text"/>
    </div>


</form>


