
@{
    ViewBag.Title = "Index";
}

<h2>Registrar Tareas</h2>
<div>
    <form>
        Nombre: <input type="text"><br>
        <br>
        Apellido: <input type="text"><br>
        <br>
        Carrera: <input type="text"><br />
        <br>
        Cuatrimestre: <input type="text"><br />
        <br>
        Edad: <input type="number" /><br />
        <br>
        <input type="submit" value="Submit">
    </form>
</div>

